[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
black = "*"
pylama = "*"

[packages]
optproblems = "*"
pydoe = "*"
numpy = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"
diversipy = "*"
matplotlib = "*"

[requires]
python_version = "3.6"
